<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/apple-touch-icon-57x57.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/apple-touch-icon-114x114.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/apple-touch-icon-72x72.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/apple-touch-icon-144x144.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "/assets/apple-touch-icon-60x60.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/apple-touch-icon-120x120.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "/assets/apple-touch-icon-76x76.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/apple-touch-icon-152x152.png" | relative_url }}" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-196x196.png" | relative_url }}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-96x96.png" | relative_url }}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-32x32.png" | relative_url }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-16x16.png" | relative_url }}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-128.png" | relative_url }}" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
</head>