<a href="{{ post.url | relative_url }}" class="item__container">
  <div class="item__thumbnail">
    <img
      src="{{ post.thumbnail | relative_url }}"
      alt="{{ post.title }}"
    >
  </div>
  <div class="item__content">
    <h6 class="item__date">{{ post.date | date: "%B %d, %Y" }}</h6>

    {% if post == paginator.posts.first %}
      <h1 class="item__title">{{ post.title }}</h1>
    {% else %}
      <h2 class="item__title">{{ post.title }}</h2>
    {% endif %}
    
    <h3 class="item__score">{{ post.review.overall }}</h3><!--
    --><h6 class="item__score--faded">/100</h6>

    <h6 class="item__estate">&bull;&nbsp;{{ post.estate }}</h6>

    {% if post == paginator.posts.first %}
      <p class="item__body">{{ post.excerpt | strip_html }}...</p>
      <h6 class="item__more">READ MORE</h6>
    {% endif %}
  </div>
</a>
