<a href="{{ post.url | relative_url }}" class="item--container">
  <div class="item--thumbnail">
    <img
      src="{{ post.thumbnail | relative_url }}"
      alt="{{ post.title }}"
    >
  </div>
  <div class="item--content">
    <h6 class="item--date">{{ post.date | date: "%B %d, %Y" }}</h6>

    {% if post == paginator.posts.first %}
      <h1 class="item--title">{{ post.title }}</h1>
    {% else %}
      <h2 class="item--title">{{ post.title }}</h2>
    {% endif %}

    <div class="item--score">
      {% for i in (1..5) %}
        {% if i <= post.review.overall %}
          <h5>&#x2605;</h5>
        {% else %}
          <h5 class="score--faded">&#x2605;</h5>
        {% endif %}
      {% endfor %}
    </div>

    {% if post == paginator.posts.first %}
      <p class="item--body">{{ post.excerpt | strip_html }}...</p>
      <h6 class="item--more">READ MORE</h6>
    {% endif %}
  </div>
</a>
