<div class="review">
    <div class="review__overall">
      <h3 class="review__title">Overall Score</h3>
      <h1 class="review__score">{{ page.review.overall }}</h1>
    </div>
    
    <div class="review__breakdown breakdown">
      <div class="breakdown__category">
        <span class="breakdown__label">Coffee</span>
        <span class="breakdown__score">{{ page.review.coffee }}/5</span>
      </div>
      <div class="breakdown__category">
        <span class="breakdown__label">Aesthetic</span>
        <span class="breakdown__score">{{ page.review.aesthetic }}/5</span>
      </div>
      <div class="breakdown__category">
        <span class="breakdown__label">Seating</span>
        <span class="breakdown__score">{{ page.review.seating }}/5</span>
      </div>
      <div class="breakdown__category">
        <span class="breakdown__label">Price</span>
        <span class="breakdown__score">{{ page.review.price }}</span>
      </div>
      <div class="breakdown__category">
        <span class="breakdown__label">Food</span>
        <span class="breakdown__score">{{ page.review.food }}</span>
      </div>
      <div class="breakdown__category">
        <span class="breakdown__label">Wi-fi</span>
        <span class="breakdown__score">{{ page.review.wifi }}</span>
      </div>
    </div>
  </div>