<div class="review">
    <div class="review--overall">
      <h3 class="review--title">Overall Score</h3>
      <h1 class="review--score">{{ page.review.overall }}/5</h1>
    </div>
    
    <div class="review--breakdown breakdown">
      <div class="breakdown--category">
        <span class="breakdown--label">Coffee</span>
        <span class="breakdown--score">{{ page.review.coffee }}/5</span>
      </div>
      <div class="breakdown--category">
        <span class="breakdown--label">Price</span>
        <span class="breakdown--score">{{ page.review.price }}</span>
      </div>
      <div class="breakdown--category">
        <span class="breakdown--label">Aesthetic</span>
        <span class="breakdown--score">{{ page.review.aesthetic }}/5</span>
      </div>
      <div class="breakdown--category">
        <span class="breakdown--label">Wi-fi</span>
        <span class="breakdown--score">{{ page.review.wifi }}</span>
      </div>
      <div class="breakdown--category">
        <span class="breakdown--label">Seating</span>
        <span class="breakdown--score">{{ page.review.seating }}/5</span>
      </div>
      <div class="breakdown--category">
        <span class="breakdown--label">Charging</span>
        <span class="breakdown--score">{{ page.review.charging }}</span>  
      </div>
    </div>
  </div>