* {
  @include box-sizing(border-box);
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: $gold-light;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 200ms, -webkit-filter 200ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}