* {
  @include box-sizing;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: $gold-light;
  color: $black;
  font-family: $serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
}

h1 {
  font-size: 3.815em;
}

h2 {
  font-size: 3.052em;
}

h3 {
  font-size: 2.441em;
}

h4 {
  font-size: 1.953em;
}

h5 {
  font-size: 1.563em;
}

h6 {
  font-size: 1.25em;
}
