.header {
  text-align: center;

  &--container {
    @extend %page-max-width;
  }

  &--logo {
    display: inline-block;
    height: 4rem;
    margin-top: 2.5rem;

    @media (max-width: $break-medium) {
      height: 3rem;
      margin-top: 1.8rem;
    }
  }
}

.nav {
  @extend %page-max-width;
  display: inline-block;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid $grey-light;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin: 0 0.7rem;
    line-height: 1.8;
  }

  a {
    color: $grey;
    font-family: $sans-serif;
    font-size: 14px;
    letter-spacing: 0.15rem;
    text-decoration: none;
  }
}
