.home {
  @extend %page-max-width;
  margin: 1rem auto 1.5rem;
}

.items_grid {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  .spacer {
    height: 0;
  }
}

.pagination {
  margin-top: 1.5rem;
  text-align: center;

  &__button {
    display: inline-block;
    color: $grey-dark;
    font-family: $sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    text-decoration: none;

    &:hover {
      color: $grey;
    }

    &-disabled {
      color: $grey-light;
      cursor: default;
      pointer-events: none;
    }
  }

  &__page {
    display: inline-block;
    margin: 0 2rem;
    color: $grey-dark;
    font-weight: normal;
  }
}
