.home {
  @extend %page-max-width;
  margin-top: 1rem;
}

.items_grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.item {
  @include transition(all 0.2s ease-out);
  background: $gold;

  &:hover {
    opacity: 0.8;
  }

  &--container {
    display: grid;
    grid-template:
      "thumbnail" auto
      "title" 1fr
      "date" auto;
    padding: 0.5rem;
    text-decoration: none;
  }

  &--thumbnail {
    position: relative;
    grid-area: thumbnail;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: (9 / 16) * 100%;
    }

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
  
  &--title {
    grid-area: title;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    color: $black;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--date {
    @extend %light-on-dark-text;
    grid-area: date;
    margin: 0 1rem 1rem;
    color: $gold-light;
    text-transform: uppercase;
  }
}

.first_item {
  margin-bottom: 0.5rem;
  background: $black;

  &:hover {
    opacity: 1;
  }

  .item--container {
    grid-template:
      "thumbnail" auto
      "title" auto
      "body" 1fr
      "more" auto;
  }

  .item--title {
    color: $gold;
    white-space: normal;
  }

  .item--body {
    @extend %light-on-dark-text;
    grid-area: body;
    margin: 0;
    padding: 0 1rem 1rem;
    color: $white;
  }

  .item--more {
    @include transition(all 0.2s ease-out);
    grid-area: more;
    margin: 0 1rem 1rem;
    color: $gold;
    letter-spacing: 0.15rem;

    &:hover {
      opacity: 0.6;
    }
  }

  @media (min-width: $break-medium) {
    .item--container {
      grid-column-gap: 0.5rem;
      grid-template:
        "thumbnail title" auto
        "thumbnail body" 1fr
        "thumbnail more" auto
        / 1fr minmax(15rem, 30%);
      // min-height: 20rem;
    }
  
    .item--thumbnail {
      height: 100%;
    }
  }
}