.home {
  @extend %page-max-width;
  margin-top: 1rem;

  &--posts {
    padding: 0;
    list-style-type: none;
  }
}

.first_item {
  background: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--container {
    display: grid;
    grid-template:
      "thumbnail title" auto
      "thumbnail body" 1fr
      "thumbnail more" auto
      / 1fr minmax(270px, 30%);
    align-items: start;
    color: $white;
    text-decoration: none;
  }

  &--thumbnail {
    grid-area: thumbnail;
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: cover;
  }
  
  &--title {
    grid-area: title;
    margin: 0;
    padding: 30px 30px 10px 20px;
    color: $gold;
  }

  &--body {
    grid-area: body;
    margin: 0;
    padding: 0 30px 30px 20px;
  }

  &--more {
    @include transition(all 0.2s ease-out);
    grid-area: more;
    justify-self: start;
    margin: 0 20px 30px;
    color: $gold;
    letter-spacing: 0.15rem;

    &:hover {
      opacity: 0.6;
    }
  }

  @media (max-width: $break-medium) {
    &--container {
      grid-template:
      "thumbnail"
      "title"
      "body"
      "more";
    }

    &--thumbnail {
      width: 100%;
      height: auto;
    }

    &--title {
      padding: 10px 20px;
    }

    &--body {
      padding: 0px 20px 20px;
    }

    &--more {
      margin: 0 20px 20px;
    }
  }
}

.item {
  background: $gold;

  &--container {
    color: $white;
    text-decoration: none;
  }

  &--title {
    color: $black;
  }
}

