.item {
  @include transition(all 0.2s ease-out);
  margin-top: 0.5rem;
  background: $gold;

  &:hover {
    opacity: 0.8;
  }

  &__container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template:
      "thumbnail" auto
      "content" 1fr
      / 100%;
    padding: 0.5rem;
    text-decoration: none;
  }

  &__thumbnail {
    position: relative;
    grid-area: thumbnail;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: (9 / 16) * 100%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    grid-area: content;
    padding: 0.5rem;
  }

  &__date {
    @extend %light-on-dark-text;
    margin: 0;
    color: $gold-light;
    text-transform: uppercase;
  }
  
  &__title {
    margin: 0.5rem 0 0;
    overflow: hidden;
    color: $black;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__score {
    @extend %light-on-dark-text;
    display: inline-block;
    margin: 0.3rem 0 0;
    color: $white;

    &--faded {
      @extend .item__score;
      opacity: 0.3;
    }
  }

  &__estate {
    @extend %light-on-dark-text;
    display: inline-block;
    margin: 0.3rem 0 0;
    color: $white;
    font-weight: normal;
  }
}

.item-black {
  @extend %light-on-dark-text;
  background: $black;

  .item__title {
    color: $gold;
  }

  .item__body {
    color: $white;
  }
}

.item-first {
  &:hover {
    opacity: 1;
  }

  .item__title {
    white-space: normal;
  }

  .item__body {
    margin: 1rem 0 0;
  }

  .item__more {
    @include transition(all 0.2s ease-out);
    color: $gold;
    letter-spacing: 0.15rem;

    &:hover {
      opacity: 0.6;
    }
  }

  @media (min-width: $break-medium) {
    .item__container {
      grid-template:
        "thumbnail content"
        / 1fr minmax(15rem, 30%);
      align-items: end;
    }

    .item__content {
      padding: 1rem;
    }

    .item__thumbnail {
      height: 100%;
      min-height: 20rem;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
