.post {
  margin: 1rem 0 3rem;

  // Cover image
  &--cover {
    @extend %page-max-width;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: (2 / 5) * 100%;

      @media (max-width: $break-medium) {
        padding-top: (9 / 16) * 100%;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &--content {
    @extend %content-max-width;

    // image in post
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto 0.5rem;
    }

    // image in post with caption
    img + em {
      display: block;
      color: $grey;
      font-family: $sans-serif;
      font-size: 0.9rem;
      font-style: normal;
      text-align: center;
    }
  }

  &--title {
    margin: 1.5rem 0 0.5rem;
    text-align: center;

    @media (min-width: $break-small) {
      font-size: 2.441rem;
    }

    @media (min-width: $break-medium) {
      font-size: 3.052rem;
    }
  }

  &--date {
    margin: 0;
    color: $gold;
    font-family: $serif;
    font-weight: normal;
    text-align: center;
  }
}

.review {
  display: grid;
  grid-template:
    "overall breakdown"
    / auto 1fr;
  margin: 1.5rem 0;
  border-radius: 5px;
  background: $black;
  color: $gold-light;
  font-family: $sans-serif;

  * {
    @extend %light-on-dark-text;
  }

  &--overall {
    grid-area: overall;
    margin: 1rem 2rem;
    text-align: center;
  }

  &--breakdown {
    grid-area: breakdown;
    margin: 1rem 0;
    padding: 0 2rem;
    border-left: 2px $grey solid;
  }

  &--title {
    margin: 0;
  }

  &--score {
    margin: 0;
    color: $gold;
    font-size: 3.815rem;
  }

  @media (max-width: $break-medium) {
    grid-template:
      "overall"
      "breakdown";
    max-width: 20rem;
    margin: 1.5rem auto;

    &--breakdown {
      margin: 0 2rem;
      padding: 1rem 0;
      border-top: 2px $grey solid;
      border-left: 0;
    }
  }

  @media (max-width: $break-small) {
    max-width: 14rem;
  }
}

.breakdown {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &--category {
    position: relative;
    line-height: 1.7;
  }

  &--score {
    position: absolute;
    right: 0;
    color: $gold;
  }

  @media (max-width: $break-small) {
    grid-template-columns: 1fr;
  }
}

.info {
  display: grid;
  grid-template:
    "address opening"
    / 1fr 1fr;
  margin-top: 0.5rem;
  text-align: center;

  &--address {
    grid-area: address;
  }

  &--opening {
    grid-area: opening;
  }

  @media (max-width: $break-small) {
    grid-template:
      "address"
      "opening";
  }

  h6 {
    color: $gold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}
