.post {
  margin: 1rem 0 0;

  // Cover image
  &--cover {
    @extend %page-max-width;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: (2 / 5) * 100%;

      @media (max-width: $break-medium) {
        padding-top: (9 / 16) * 100%;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &--content {
    @extend %content-max-width;

    // image in post
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto 0.5rem;
    }

    // image in post with caption
    img + em {
      display: block;
      color: $grey;
      font-family: $sans-serif;
      font-size: 0.9rem;
      font-style: normal;
      text-align: center;
    }
  }

  &--title {
    margin: 1.5rem 0 0.5rem;
    text-align: center;

    @media (min-width: $break-small) {
      font-size: 2.441rem;
    }

    @media (min-width: $break-medium) {
      font-size: 3.052rem;
    }
  }

  &--date {
    margin: 0;
    color: $gold;
    font-family: $serif;
    font-weight: normal;
    text-align: center;
  }
}

.info {
  display: grid;
  grid-template:
    "address opening"
    / 1fr 1fr;
  margin-top: 0.5rem;
  text-align: center;

  &--address {
    grid-area: address;
  }

  &--opening {
    grid-area: opening;
  }

  @media (max-width: $break-small) {
    grid-template:
      "address"
      "opening";
  }

  h6 {
    color: $gold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}

#disqus_thread {
  @extend %content-max-width;
  margin: 2rem auto;
}
