.review {
  display: grid;
  grid-template:
    "overall breakdown"
    / auto 1fr;
  margin: 1.5rem 0;
  border-radius: 5px;
  background: $black;
  color: $gold-light;
  font-family: $sans-serif;

  * {
    @extend %light-on-dark-text;
  }

  &__overall {
    grid-area: overall;
    margin: 1rem 2rem;
    text-align: center;
  }

  &__breakdown {
    grid-area: breakdown;
    margin: 1rem 0;
    padding: 0 2rem;
    border-left: 2px $grey solid;
  }

  &__title {
    margin: 0;
  }

  &__score {
    margin: 0;
    color: $gold;
    font-size: 3.815rem;
  }

  @media (max-width: $break-medium) {
    grid-template:
      "overall"
      "breakdown";
    max-width: 20rem;
    margin: 1.5rem auto;

    &__breakdown {
      margin: 0 2rem;
      padding: 1rem 0;
      border-top: 2px $grey solid;
      border-left: 0;
    }
  }

  @media (max-width: $break-small) {
    max-width: 14rem;
  }
}

.breakdown {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;

  &__category {
    position: relative;
    line-height: 1.7;
  }

  &__score {
    position: absolute;
    right: 0;
    color: $gold;
  }

  @media (max-width: $break-small) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
