html {
  color: $black;
  font-family: $serif;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;

  @media (max-width: $break-small) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0;
  font-family: $sans-serif;
}

h1 {
  margin-top: 2rem;
  font-size: 1.953rem;
}

h2 {
  margin-top: 1.6rem;
  font-size: 1.563rem;
}

h3 {
  margin-top: 1.28rem;
  font-size: 1.25rem;
}

h4,
h5 {
  margin-top: 1.024rem;
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  margin: 1rem 0 0;
  line-height: 1.5;
}

a {
  color: $black;
}

blockquote {
  margin: 0.8rem 0;
  padding: 0.15rem 0 0.15rem 1rem;
  border-left: 0.15rem solid $black;
  font-style: italic;
}

blockquote > p {
  margin: 0;
}
