// Fonts
$sans-serif: 'Cerebri Sans';
$serif: 'Lora';

// Colours
$black: #353535;
$grey: #999;
$grey-light: #D7D7D7;
$white: #FFF;
$gold-light: #FFF8ED;
$gold: #CAA065;
$brown: #AA5631;

// Sizes
$max-width: 1000px;
$width: 80%;

$break-medium: 768px;
$break-large: 1024px;

// Mixins
@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

// Extends
%page-max-width {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

%content-max-width {
  width: 90%;
  max-width: 33em;
  margin: 0 auto;
}
