// Fonts
$sans-serif: 'Cerebri Sans';
$serif: 'Lora';

// Colours
$black: #353535;
$grey-dark: #606060;
$grey: #999;
$grey-light: #D7D7D7;
$white: #FFF;
$gold-light: #FFF8ED;
$gold: #CAA065;
$brown: #AA5631;

// Sizes
$max-width: 1000px;
$width: 80%;

$break-smaller: 320px;
$break-small: 425px;
$break-medium: 700px;
$break-large: 1024px;

// Mixins
@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}

// Extends
%page-max-width {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

%content-max-width {
  width: 33rem;
  max-width: 90%;
  margin: 0 auto;
}

// Font rendering
%light-on-dark-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
