<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header class="header">
      <a href="{{ site.baseurl }}/">
        <img class="header__logo" src="{{ "/assets/images/logo.svg" | relative_url }}" alt="Average Joe Coffeehouse Reviews">
      </a>
      <nav class="header__nav">
        <ul>
          <li><a href="{{ "/" | relative_url }}">Reviews</a></li>
          <li><a href="{{ "/about/" | relative_url }}">About</a></li>
        </ul><ul>
          <li><a href="{{ "/scoring/" | relative_url }}">Scoring</a></li>
          <li><a href="{{ "/contact/" | relative_url }}"}>Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
