---
layout: default
---

<div class="post">
  {% if page.cover %}
    <div class="post__cover">
      <img
        src="{{ page.cover | relative_url }}"
        alt="{{ page.title }}"
      >
    </div>
  {% endif %}

  <div class="post__content">
    {% if page.review and page.sample != true %}
      <h1 class="post__title">{{ page.title }}</h1>
    {% else %}
      <h1 class="post__title-left">{{ page.title }}</h1>
    {% endif %}
    
    <h5 class="post__date">{{ page.date | date: "%B %d, %Y" }}</h5>

    {% if page.review and page.sample != true %}
      {% include review.html %}
    {% endif %}

    {{ content }}
  </div>

  <script>
    var addressP = document.querySelector('.info__address p');
    addressP.addEventListener('click', function (event) {
      const isAppleOS = navigator.platform.match(/(iPhone|iPod|iPad)/i)?true:false;

      const address = addressP.textContent.trim()
        .replace(/\s{2,}/gm, ' ');

      // Open Apple Maps if OS is iOS
      if (isAppleOS) {
        window.open(`maps:?daddr=${address}`, '_self');
        return;
      }

      // Open Google Maps app/web on other platforms
      window.open(`https://www.google.com/maps/dir/?api=1&destination=${address}`, '_self');
    });
  </script>

  {% if page.review and page.sample != true %}
    {% if page.next or page.previous %}
      <hr class="divider">
      <div class="related">
        {% if page.next %}
          {% assign post = page.next %}
        {% else %}
          {% assign post = page.previous.previous %}
        {% endif %}
        <div class="item item-black">
          {% include item.html %}
        </div>

        {% if page.previous %}
          {% assign post = page.previous %}
        {% else %}
          {% assign post = page.next.next %}
        {% endif %}
        <div class="item item-black">
          {% include item.html %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% include disqus_comments.html %}
</div>
